@import 'tailwindcss';
@tailwind utilities;

:root {
  /* Default dark mode */
  --background-color: #2d2d2d;
  --secondary-bg-color: #3a3a3a;
  --tertiary-bg-color: #545454;
  --text-color: #d9d9d9;
  --accent-color: #02499a;
  --accent-color-light: #005ac1;
}

/* Light mode */
body.light-mode {
  --background-color: #ffffff;
  --secondary-bg-color: #e8e8e8;
  --tertiary-bg-color: #c3c3c3;
  --text-color: #363636;
  --accent-color: #3b7ce4;
  --accent-color-light: #508def;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* Background Colors */

@utility bg-secondary {
  background-color: var(--secondary-bg-color);
}

@utility bg-tertiary {
  background-color: var(--tertiary-bg-color);
}

.hover-bg-secondary-vs-bg-tertiary {
  background-color: var(--secondary-bg-color);
}
.hover-bg-secondary-vs-bg-tertiary:hover {
  background-color: var(--tertiary-bg-color);
}

@utility bg-accent {
  background-color: var(--accent-color);
}
@utility bg-accent-light {
  background-color: var(--accent-color-light);
}

/* Pages */

.page-container {
  @apply container mx-auto p-4 flex flex-col gap-4;
}

.page-title {
  @apply text-3xl font-bold;
}

/* Inputs */

.input-default {
  @apply border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 h-10;
}

/* Buttons */
@utility button-shared {
  @apply py-2 px-4 rounded cursor-pointer w-fit;
}
.primary-button {
  @apply button-shared text-white bg-accent hover:bg-accent-light;
}

.secondary-button {
  @apply button-shared text-gray-800 bg-gray-300 hover:bg-gray-400;
}
