@import 'tailwindcss';

:root {
  /* Default dark mode */
  --background-color: #2d2d2d;
  --text-color: #f5f5f5;
  --primary-color: #4a90e2;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* Light mode */
body.light-mode {
  --background-color: #ffffff;
  --text-color: #363636;
  --primary-color: #3273dc; /* A blue tone */
}

/* Additional custom styles can go here */
