@import 'tailwindcss';
@tailwind utilities;

:root {
  /* Default dark mode */
  --background-color: #2d2d2d;
  --secondary-background-color: #3a3a3a;
  --tertiary-background-color: #545454;
  --text-color: #d9d9d9;
  --accent-color: #02499a;
  --accent-color-hover: #005ac1;
}

/* Light mode */
body.light-mode {
  --background-color: #ffffff;
  --secondary-background-color: #e8e8e8;
  --tertiary-background-color: #c3c3c3;
  --text-color: #363636;
  --accent-color: #3b7ce4;
  --accent-color-hover: #508def;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* Additional custom styles can go here */

.secondary-background {
  background-color: var(--secondary-background-color);
}

.tertiary-background {
  background-color: var(--tertiary-background-color);
}

.hover-secondary-vs-tertiary-background {
  background-color: var(--secondary-background-color);
}
.hover-secondary-vs-tertiary-background:hover {
  background-color: var(--tertiary-background-color);
}

@utility accent-background {
  background-color: var(--accent-color);
}
@utility accent-background-hover {
  background-color: var(--accent-color-hover);
}

/* Custom tailwind classes */

.page-container {
  @apply container mx-auto p-4 flex flex-col gap-4;
}

.page-title {
  @apply text-3xl font-bold;
}

.input-default {
  @apply border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 h-10;
}
@utility button-shared {
  @apply py-2 px-4 rounded cursor-pointer w-fit;
}

/* 
because I have some things mixed between css and tailwind, input-default needs
to be used in conjunction with accent-background over 
*/
.primary-button {
  @apply button-shared text-white accent-background hover:accent-background-hover;
}

.secondary-button {
  @apply button-shared text-gray-800 bg-gray-300 hover:bg-gray-400;
}
