<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ '/assets/images/favicon.ico' | relative_url }}"
    />
    <!-- Inject quotes data into a global variable -->
    <script>
      window.quotes = {{ site.data.quotes | jsonify }};
    </script>
  </head>
  <body>
    {% include header.html %}
    <main class="section">
      <div class="container">{{ content }}</div>
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
